{% extends 'menu.html' %}
{% load staticfiles %}

{% block title %}Imagenes{% endblock%}

{% block Item %}
    <a href="{% url 'showdata' %}" class="list-group-item">Texto</a>
    <a href="#" class="list-group-item">Descripciones</a>
    <a href="{% url 'imagenes' %}" class="list-group-item active">Imágenes</a>
    <a href="#" class="list-group-item">Ejercicios</a>
    <a href="#" class="list-group-item">Ejemplos</a>
    <a href="#" class="list-group-item">Analogías</a>
    <a href="#" class="list-group-item">Link</a>
{% endblock %}

{% block content %}
    {% for img in all_data %}
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4> {{ img.topic }} </h4>
                    <a href="{{ img.url }}" target="_blank">{{ img.url }}</a>
                    <img src= {{ img.information }}>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}