{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Classer {% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/loginin.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">

        <div class=" col-sm-offset-3 col-sm-6">

            <div class="panel-body">
                <div class="col-md-offset-1 col-md-10 ">
                    <h1 class="logo">Classer</h1>
                    {% block content %}
                    <!-- ASI SE HACEN LOS FORMS -->
                    <form method="post" action="">{% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" name="username" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Contraseña"/>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Acceder</button>
                        <div  data-reactid="56"><br>
                            <!-- react-text: 57 -->¿Primera vez en Classer? <!-- /react-text -->
                            <a c  href="/signup" >Registrate ya</a>
                            <!-- react-text: 59 -->.<!-- /react-text -->
                        </div>
                    </form>

                    <!-- HASTA AQUI -->
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>