{% extends 'menu.html' %}

{% block title %}Temas{% endblock%}

{% block Item %}
    <a class="list-group-item active" href="{% url 'showdata' %}">Información</a>
        <div id="collapse1" class="panel-collapse collapse" style="border-left:1px solid silver; border-right:1px solid silver;">
            <ul>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a> Analogías</a><br>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a> Ejercicios</a><br>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a> Ejemplos</a>
            </ul>
        </div>
    <a href="{% url 'imagenes' %}" class="list-group-item">Imágenes</a>
    <a href="#" class="list-group-item">Videos</a>
{% endblock %}

{% block content %}

    {% for img in all_data %}
         <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4> {{ img.topic }} </h4>
                    <a href="{{ img.url }}" target="_blank">{{ img.url }}</a>
                        <p>{{ img.information }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}