{% extends 'logloglog.html' %}

{% block content %}
    <form method="post">{% csrf_token %}
        <div class="form-group">
            <label for="username" class="control-label">Nombre:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="" required title="Por favor, ingrese su nombre." placeholder="Nombre">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="username" class="control-label">Apellido:</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="" required title="Por favor, ingrese su apellido." placeholder="Apellido">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="username" class="control-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="" required title="Por favor, ingrese su e-mail." placeholder="Email">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="username" class="control-label">Repetir Email:</label>
            <input type="email" class="form-control" id="usermane" name="username" value="" required title="Por favor, ingrese su e-mail." placeholder="Confirmar Email">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Contraseña:</label>
            <input type="password" class="form-control" id="password1" name="password1" value="" required title="Por favor, ingrese su contraseña." placeholder="mínimo 8 caracteres entre letras y números">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Repetir Contraseña:</label>
            <input type="password" class="form-control" id="password2" name="password2" value="" required title="Por favor, ingrese su constraseña." placeholder="Confirmar Contraseña">
            <span class="help-block"></span>
        </div>
        {% if  message  != '' %}
            <span class="alert alert-danger center-block">{{ message }}</span>
        {% endif %}
        <button type="submit" class="btn btn-info btn-block">Registrarse</button>
    </form>
{% endblock %}
