{% extends 'menu.html' %}
{% load staticfiles %}

{% block title %}Videos{% endblock%}

{% block Item %}
    <a class="list-group-item" href="{% url 'showdata' %}">Información</a>
        <div id="collapse1" class="panel-collapse collapse" style="border-left:1px solid silver; border-right:1px solid silver;">
            <ul>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a> Analogías</a><br>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a> Ejercicios</a><br>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a> Ejemplos</a>
            </ul>
        </div>
    <a href="{% url 'imagenes' %}" class="list-group-item">Imágenes</a>
    <a href="{% url 'videos' %}" class="list-group-item active">Videos</a>
{% endblock %}

{% block content %}
    {% for video in all_videos %}
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4> {{ video.topic }} </h4>
                    <a href="{{ video.url }}" target="_blank">{{ video.url }}</a>
                     <iframe width="560" height="315" src="{{ video.information }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}